$verdeDark = #003A3C
$verde =  #006064
$gris =  #FCFCF4
$azulObscuro  = #042b3c

body

  font-family: 'Ubuntu', sans-serif;
  footer
    height: 60px;

.font-heebo
  font-family: 'Heebo', sans-serif
.font-ubuntu
  font-family: 'Ubuntu', sans-serif
.font-chivo
  font-family: 'Chivo', sans-serif
  //font-family: 'Noto Sans', sans-serif
.bg-dark
  background-color  #003A3C !important
.bg-gris
  background-color  #f5f5f5 !important
.txt-white
  color white !important
.txt-black
  color black !important
.txt-verde
  color $verdeDark !important
.txt-azulo
  color $azulObscuro !important
.mt-12p
  margin-top: 12%;

.transparent
  background-color rgba(0, 0, 0, 0.74)
  height 230px
  width 100%
  position relative
  text-align center
  margin auto
  margin-top 10%
  padding-top  40px

.degradado
  background: rgba(36,68,35,0.95);
  background: -moz-linear-gradient(left, rgba(36,68,35,0.95) 0%, rgba(36,68,35,0.95) 0%, rgba(4,43,60,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,68,35,0.95)), color-stop(0%, rgba(36,68,35,0.95)), color-stop(100%, rgba(4,43,60,1)));
  background: -webkit-linear-gradient(left, rgba(36,68,35,0.95) 0%, rgba(36,68,35,0.95) 0%, rgba(4,43,60,1) 100%);
  background: -o-linear-gradient(left, rgba(36,68,35,0.95) 0%, rgba(36,68,35,0.95) 0%, rgba(4,43,60,1) 100%);
  background: -ms-linear-gradient(left, rgba(36,68,35,0.95) 0%, rgba(36,68,35,0.95) 0%, rgba(4,43,60,1) 100%);
  background: linear-gradient(to right, rgba(36, 68, 35, 0.4) 0%, rgba(36, 68, 35, 0.38) 0%, #042b3c82 100%);

.carousel
  z-index:-1
.h1-T
  font-size:11.5rem

.imgPrincipal
  width 100%
  //height 500px
  //max-width 1110px

.carousel-caption
  bottom: 50%;
.task
  text-align: center

.divPrincipal
  position absolute
.divSecu
  background-color #ffffff

.navbar
  .bg-dark
    background-color  #003a3c00 !important

.height500
  height 500px

.height250
    height 250px
.imgsecun
  height 100%
  width 100%
  border-radius: 40px

.fotosBit
  height: 250px
  width: 250px
  border: 7px solid rgba(0,0,0,.1);
  border-radius: 50%!important;
.container
  .h2
    font-size: 1.2rem !important
    height: 50px;
.icons
  width="140"
  height="140"
  border-radius: 0%
  height: 65px
.icons-sociales
   font-size:36px
   color white
.graydark
  color: #615c5c
.graylight
  color: $gris
.verdedark
  color:$verdeDark
.verdeligth
  color:$verde
.grisito
  color:$gris
